# BACKEND ENV VARIABLES
NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pickslots

# jwt login
JWT_SECRET=veryverysecured
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=afaqajaved
JWT_REFRESH_EXPIRES_IN=1d

# jwt invite
INVITE_JWT_SECRET=ververtverreererafaq
INVITE_JWT_EXPIRES_IN=5m

CORS_ORIGINS=http://localhost:5173,http://localhost:4173
BACKEND_PUBLIC_URL=http://localhost:3000 # backend domain
FRONTEND_PUBLIC_URL=http://localhost:5173 #Frontend domain



REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

MAIL_HOST=afaqjaved.com
MAIL_PORT=1025
MAIL_USER=dev@pikslots.com
MAIL_PASS=anypassword
MAIL_FROM='"No Reply" <noreply@example.com>'

# FRONTEND ENV VARIABLES
VITE_API_URL=http://localhost:3000
